module.exports = {
    googleClientID: '*************',
    googleClientSecrect: '*************',
    mongoURI: '*************',
    cookieKey: '*************',
    stripePublishableKey: '*************',
    stripeSecretKey: '*************',
    sendGridKey: '*************',
    redirectDomain: '*************',
};